.login{
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login__container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 12%), 0 5px 7px rgb(0 0 0 / 10%);
}
.login__container > img{
    object-fit: contain;
    height: 30vh;
    margin-bottom: 40px;
    margin-left: 22px;
}
.login__container > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}